# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
venv/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

media/*
staticfiles/
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
